.nav{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.ul{
    margin-right: 100px;
}

.a:hover{
   color: rgb(25, 187, 25);
}

.header{
    margin-left: 50px;
    font-weight: 700;
    font-size: 30px;
}

.logoutbtn{
    width: 80px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}